/* CSS for whole page  */ 
* {
    box-sizing: border-box;
}
body {
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;

}
a {
    text-decoration: none; 
    font-size:18px; 
    color: #E5E7EB; 
}
ul {
    list-style: none;
    display:flex; 
    justify-content: space-evenly;
    margin: 0; 
    padding: 0; 
    gap: 10px; 
}
button {
    background-color: #3882F6;
    color:#F9FAF8; 
    border-radius: 10px;
    border-color: #3882F6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    transition-duration: 0.4s;
    font-size: 14px;
}
/* CSS for first section  Hero*/ 
.hero-signup {
    align-self: flex-start;
}
.hero{
    display:flex; 
    flex-direction: column;
    background-color: #1F2937;
    gap: 50px; 
    flex-basis: 300px;
}
.header{
    display:flex; 
    justify-content: space-around;
}

.hero .header .logo{
    font-size: 24px; 
    color: #F9FAF8; 
}
.hero-content{
    display:flex; 
    justify-content: center;
}
.website-summary {
    display: flex; 
    flex-direction:column; 
    gap: 5px; 

}
.website-summary-title{
    font-size:48px; 
    font-weight: 900;
    color: #F9FAF8; 
    align-self: center;
}
.website-blurb{
    font-size: 18px;
    color: #E5E7EB; 
}
.summary-image {
    height: 150px; 
    width: 400px; 
    margin:10px; 
    background-color: lightgray;
    color:white; 
    display: flex;
    align-items:center; 
    justify-content: center;
}
/* CSS for secound section Illustrations */ 
.information{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 10px; 
}
.information-title{
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937; 
}
.illustrations{
    display:flex;
    gap: 5px; 
}
.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px; 
    flex-wrap: wrap;
}

.illustration-image{
    border-radius: 5px;
    border: 2px solid #3882F6; 
    height: 150px; 
    width: 150px; 
}

.illustration-text{
    padding:5px; 
    margin: 5px; 
}

/* CSS for third section Quote section */

.quote-section{
    background-color: #E5E7EB;
    flex-basis: 400px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote-content {
    width: 50%; 
    display: flex;
    flex-direction: column;
}
.quote{
    font-size: 36px; 
    font-style: italic;
    color: #1F2937; 
    font-weight: lighter;
}
.quote-author{
    font-weight: 700;
    align-self: flex-end;
}