* {
    box-sizing: border-box;
}
body {
    height: 100vh; 
    margin: 0; 
    overflow: hidden; 
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    
}
a {
    text-decoration: none; 
    font-size:18px; 
    color: #E5E7EB; 
}
ul {
    list-style: none;
    display:flex; 
    justify-content: space-evenly;
    margin: 0; 
    padding: 0; 
    gap: 10px; 
}
button {
    background-color: #3882F6;
    color:#F9FAF8; 
    border-radius: 10px;
    border-color: #3882F6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    transition-duration: 0.4s;
    font-size: 14px;
}

.hero-signup {
    align-self: flex-start;
}
.hero{
    display:flex; 
    flex-direction: column;
    background-color: #1F2937;
    gap: 50px; 
}
.header{
    display:flex; 
    justify-content: space-around;
}

.hero .header .logo{
    font-size: 24px; 
    color: #F9FAF8; 
}
.hero-content{
    display:flex; 
    justify-content: center;
}
.website-summary {
    display: flex; 
    flex-direction:column; 
    gap: 5px; 

}
.website-summary-title{
    font-size:48px; 
    font-weight: 900;
    color: #F9FAF8; 
    align-self: center;
}
.website-blurb{
    font-size: 18px;
    color: #E5E7EB; 
}
.summary-image {
    height: 150px; 
    width: 400px; 
    margin:10px; 
    background-color: lightgray;
    color:white; 
    display: flex;
    align-items:center; 
    justify-content: center;
}