/* CSS for whole page  */ 
* {
    box-sizing: border-box;
}
body {
    height: 100vh; 
    margin: 0; 
    overflow: scroll; 
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
a {
    text-decoration: none; 
    font-size:18px; 
    color: #E5E7EB; 
}
ul {
    list-style: none;
    display:flex; 
    justify-content: space-evenly;
    margin: 0; 
    padding: 20px; 
    gap: 10px; 
}
.hero-signup.signup {
    background-color: #3882F6;
    color:#F9FAF8; 
    border-radius: 10px;
    border-color: #3882F6;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 18px;
    padding-right: 18px;
    transition-duration: 0.4s;
    font-size: 14px;
}
/* CSS for first section  Hero*/ 
.hero-signup {
    align-self: flex-start;
}
.hero{
    display:flex; 
    flex-direction: column;
    background-color: #1F2937;
    gap: 50px; 
    height: 450px; 
}
.header{
    display:flex; 
    justify-content: space-around;
}

.hero .header .logo{
    font-size: 24px; 
    color: #F9FAF8;
    padding:20px;  
}
.hero-content{
    display:flex; 
    justify-content: center;
    align-self: center;
}
.website-summary {
    display: flex; 
    flex-direction:column; 
    gap: 5px; 

}
.website-summary-title{
    font-size:48px; 
    font-weight: 900;
    color: #F9FAF8; 
    align-self: center;
}
.website-blurb{
    font-size: 18px;
    color: #E5E7EB; 
}
.summary-image {
    height: 150px; 
    width: 400px; 
    margin:10px; 
    background-color: lightgray;
    color:white; 
    display: flex;
    align-items:center; 
    justify-content: center;
}
/* CSS for secound section Illustrations */ 
.information-block{
    display:flex; 
    height: 400px;
    justify-content: center;
}
.information{
    display: flex; 
    flex-direction: column;
    align-items: center; 
    gap: 20px; 
    margin: 20px; 
}
.information-title{
    font-size: 36px;
    font-weight: 900px;
    color: #1F2937; 
}
.illustrations{
    display:flex;
    gap: 5px; 
}
.illustration{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px; 
}

.illustration-image{
    border-radius: 5px;
    border: 2px solid #3882F6; 
    height: 150px; 
    width: 150px; 
}

.illustration-text{
    height: 150px; 
    width: 150px; 
    padding:5px; 
    margin: 5px; 
}

/* CSS for third section Quote section */

.quote-section{
    background-color: #E5E7EB;
    height: 350px; 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quote-content {
    width: 50%; 
    display: flex;
    flex-direction: column;
}
.quote{
    font-size: 36px; 
    font-style: italic;
    color: #1F2937; 
    font-weight: lighter;
}
.quote-author{
    font-weight: 700;
    align-self: flex-end;
}

/* CSS for signup section */ 
.signup-section{
    display:flex; 
    justify-content: center;
    align-items: center;
    height:200px; 
    flex: 1 0 auto; 
}
.signup-box{
    border-radius: 10px;
    background-color: #3882F6;
    display:flex; 
    flex-basis: 50%;
    height: 50%;
    justify-content: space-evenly;
    align-items: center;
}
.signup-info{
    display:flex; 
    flex-direction: column;
    
}
.signup-info-title{
    font-size: 18px; 
    font-weight: 900;
    color: #F9FAF8; 
}
.signup-info-blurb{
    color: #E5E7EB; 
}
.signup-info-signup{
    border-radius: 4px; 
    border: #F9FAF8 solid 2px; 
    background-color: #3882F6; 
    color: #F9FAF8; 
    padding-left: 15px;
    padding-right: 15px;

}
/*CSS for footer */
.footer{
    display:flex; 
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    color: #E5E7EB;
    height: 50px; 
}